*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(112, 112, 165);
}
nav ul{
    color: rgb(66, 25, 104);
    background-color: rgb(6, 50, 50);
    display: flex;
    list-style: none;
    gap:23px;
    height: 5vh;
    padding: 15px;
    align-items: center;
}

.box1{
    height:60vh;
    background-color: rgb(3, 6, 0);
    margin-bottom: 1vh;
    color:rgb(156, 170, 112);
}
.box2{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:40vh;
    background-color: rgb(13, 4, 43);
    color: rgb(87, 15, 15);
    font-size: 30px;
    justify-content: center;
    margin-bottom: 1vh;
}

.box3{
    display:flex;
    justify-content: center;
    align-items: center;
    height:30vh;
    background-color: rgb(35, 13, 66);
    font-size: 30px;
}

a{
    text-decoration: none;
    color: rgb(255, 0, 8);
    font-size: 20px;
}

a:visited{
    color:rgb(156, 170, 112)
}
.list{
    padding: 15px;
}

a:hover{
    font-size: 1.2rem;
    color: rgb(111, 130, 47);
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: rgb(8, 8, 8);
}